In [1]:
from google.colab import drive 
drive.mount('/content/drive')
%cd /content/drive/My\ Drive/ee4802_colabs

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/ee4802_colabs

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv")

In [4]:
data

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0
...,...,...,...,...,...,...,...,...,...,...,...
148272,2023-03,YISHUN,5 ROOM,386,YISHUN RING RD,10 TO 12,127.0,Improved,1988,64 years 05 months,629000.0
148273,2023-03,YISHUN,5 ROOM,221,YISHUN ST 21,01 TO 03,126.0,Improved,1985,61 years 04 months,565000.0
148274,2023-03,YISHUN,5 ROOM,335C,YISHUN ST 31,13 TO 15,112.0,Improved,2015,91 years 09 months,625000.0
148275,2023-03,YISHUN,5 ROOM,820,YISHUN ST 81,07 TO 09,122.0,Improved,1988,64 years 06 months,650000.0
148276,2023-03,YISHUN,EXECUTIVE,356,YISHUN RING RD,01 TO 03,146.0,Maisonette,1988,64 years 06 months,800000.0

In [4]:
trimmed_data = data.drop(["block", "street_name", "remaining_lease"], axis=1)

In [6]:
trimmed_data

,month,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2017-01,ANG MO KIO,2 ROOM,10 TO 12,44.0,Improved,1979,232000.0
1,2017-01,ANG MO KIO,3 ROOM,01 TO 03,67.0,New Generation,1978,250000.0
2,2017-01,ANG MO KIO,3 ROOM,01 TO 03,67.0,New Generation,1980,262000.0
3,2017-01,ANG MO KIO,3 ROOM,04 TO 06,68.0,New Generation,1980,265000.0
4,2017-01,ANG MO KIO,3 ROOM,01 TO 03,67.0,New Generation,1980,265000.0
...,...,...,...,...,...,...,...,...
148272,2023-03,YISHUN,5 ROOM,10 TO 12,127.0,Improved,1988,629000.0
148273,2023-03,YISHUN,5 ROOM,01 TO 03,126.0,Improved,1985,565000.0
148274,2023-03,YISHUN,5 ROOM,13 TO 15,112.0,Improved,2015,625000.0
148275,2023-03,YISHUN,5 ROOM,07 TO 09,122.0,Improved,1988,650000.0
148276,2023-03,YISHUN,EXECUTIVE,01 TO 03,146.0,Maisonette,1988,800000.0

In [5]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

pipeline = ColumnTransformer([
("oe", OrdinalEncoder(), ["month","flat_type","storey_range"]),
("oh", OneHotEncoder(), ["town", "flat_model"]),
], remainder='passthrough')

In [6]:
X_pre = trimmed_data.drop(["resale_price"], axis=1)

In [7]:
X = pipeline.fit_transform(X_pre)
y = trimmed_data["resale_price"]

In [8]:
# Print the mappings from each column
for i, col in enumerate(["month","flat_type","storey_range","town", "flat_model"]):
    if col in pipeline.transformers_[0][2]:
        idx = pipeline.transformers_[0][2].index(col)
        mapping = dict(zip(range(len(pipeline.named_transformers_["oe"].categories_[idx])),
                           pipeline.named_transformers_["oe"].categories_[idx]))
    elif col in pipeline.transformers_[1][2]:
        idx = pipeline.transformers_[1][2].index(col)
        mapping = dict(zip(range(len(pipeline.named_transformers_["oh"].categories_[idx])),
                           pipeline.named_transformers_["oh"].categories_[idx]))
    else:
        mapping = {}
    print(f"{col}: {mapping}")

month: {0: '2017-01', 1: '2017-02', 2: '2017-03', 3: '2017-04', 4: '2017-05', 5: '2017-06', 6: '2017-07', 7: '2017-08', 8: '2017-09', 9: '2017-10', 10: '2017-11', 11: '2017-12', 12: '2018-01', 13: '2018-02', 14: '2018-03', 15: '2018-04', 16: '2018-05', 17: '2018-06', 18: '2018-07', 19: '2018-08', 20: '2018-09', 21: '2018-10', 22: '2018-11', 23: '2018-12', 24: '2019-01', 25: '2019-02', 26: '2019-03', 27: '2019-04', 28: '2019-05', 29: '2019-06', 30: '2019-07', 31: '2019-08', 32: '2019-09', 33: '2019-10', 34: '2019-11', 35: '2019-12', 36: '2020-01', 37: '2020-02', 38: '2020-03', 39: '2020-04', 40: '2020-05', 41: '2020-06', 42: '2020-07', 43: '2020-08', 44: '2020-09', 45: '2020-10', 46: '2020-11', 47: '2020-12', 48: '2021-01', 49: '2021-02', 50: '2021-03', 51: '2021-04', 52: '2021-05', 53: '2021-06', 54: '2021-07', 55: '2021-08', 56: '2021-09', 57: '2021-10', 58: '2021-11', 59: '2021-12', 60: '2022-01', 61: '2022-02', 62: '2022-03', 63: '2022-04', 64: '2022-05', 65: '2022-06', 66: '2022-07', 67: '2022-08', 68: '2022-09', 69: '2022-10', 70: '2022-11', 71: '2022-12', 72: '2023-01', 73: '2023-02', 74: '2023-03'}
flat_type: {0: '1 ROOM', 1: '2 ROOM', 2: '3 ROOM', 3: '4 ROOM', 4: '5 ROOM', 5: 'EXECUTIVE', 6: 'MULTI-GENERATION'}
storey_range: {0: '01 TO 03', 1: '04 TO 06', 2: '07 TO 09', 3: '10 TO 12', 4: '13 TO 15', 5: '16 TO 18', 6: '19 TO 21', 7: '22 TO 24', 8: '25 TO 27', 9: '28 TO 30', 10: '31 TO 33', 11: '34 TO 36', 12: '37 TO 39', 13: '40 TO 42', 14: '43 TO 45', 15: '46 TO 48', 16: '49 TO 51'}
town: {0: 'ANG MO KIO', 1: 'BEDOK', 2: 'BISHAN', 3: 'BUKIT BATOK', 4: 'BUKIT MERAH', 5: 'BUKIT PANJANG', 6: 'BUKIT TIMAH', 7: 'CENTRAL AREA', 8: 'CHOA CHU KANG', 9: 'CLEMENTI', 10: 'GEYLANG', 11: 'HOUGANG', 12: 'JURONG EAST', 13: 'JURONG WEST', 14: 'KALLANG/WHAMPOA', 15: 'MARINE PARADE', 16: 'PASIR RIS', 17: 'PUNGGOL', 18: 'QUEENSTOWN', 19: 'SEMBAWANG', 20: 'SENGKANG', 21: 'SERANGOON', 22: 'TAMPINES', 23: 'TOA PAYOH', 24: 'WOODLANDS', 25: 'YISHUN'}
flat_model: {0: '2-room', 1: '3Gen', 2: 'Adjoined flat', 3: 'Apartment', 4: 'DBSS', 5: 'Improved', 6: 'Improved-Maisonette', 7: 'Maisonette', 8: 'Model A', 9: 'Model A-Maisonette', 10: 'Model A2', 11: 'Multi Generation', 12: 'New Generation', 13: 'Premium Apartment', 14: 'Premium Apartment Loft', 15: 'Premium Maisonette', 16: 'Simplified', 17: 'Standard', 18: 'Terrace', 19: 'Type S1', 20: 'Type S2'}

In [9]:
# Extract the one-hot encoder column names and mappings
oh_cols = pipeline.transformers_[1][2]
oh_mappings = pipeline.named_transformers_["oh"].categories_

oe_names = ['month', 'flat_type', 'storey_range']

# Create the one-hot encoder column names
oh_names = []
for col, cats in zip(oh_cols, oh_mappings):
    oh_names.extend([f"{col}_{cat}" for cat in cats])

# Get the remaining column names
remaining_cols = [col for col in X_pre.columns if col not in oe_names and col not in oh_cols]

# Combine all the column names
column_names = oe_names + oh_names + remaining_cols

In [ ]:
print(column_names)

['month', 'flat_type', 'storey_range', 'town_ANG MO KIO', 'town_BEDOK', 'town_BISHAN', 'town_BUKIT BATOK', 'town_BUKIT MERAH', 'town_BUKIT PANJANG', 'town_BUKIT TIMAH', 'town_CENTRAL AREA', 'town_CHOA CHU KANG', 'town_CLEMENTI', 'town_GEYLANG', 'town_HOUGANG', 'town_JURONG EAST', 'town_JURONG WEST', 'town_KALLANG/WHAMPOA', 'town_MARINE PARADE', 'town_PASIR RIS', 'town_PUNGGOL', 'town_QUEENSTOWN', 'town_SEMBAWANG', 'town_SENGKANG', 'town_SERANGOON', 'town_TAMPINES', 'town_TOA PAYOH', 'town_WOODLANDS', 'town_YISHUN', 'flat_model_2-room', 'flat_model_3Gen', 'flat_model_Adjoined flat', 'flat_model_Apartment', 'flat_model_DBSS', 'flat_model_Improved', 'flat_model_Improved-Maisonette', 'flat_model_Maisonette', 'flat_model_Model A', 'flat_model_Model A-Maisonette', 'flat_model_Model A2', 'flat_model_Multi Generation', 'flat_model_New Generation', 'flat_model_Premium Apartment', 'flat_model_Premium Apartment Loft', 'flat_model_Premium Maisonette', 'flat_model_Simplified', 'flat_model_Standard', 'flat_model_Terrace', 'flat_model_Type S1', 'flat_model_Type S2', 'floor_area_sqm', 'lease_commence_date']

In [ ]:
df_features = pd.DataFrame(column_names, columns=["features"])
df_features

                             features
0                               month
1                           flat_type
2                        storey_range
3                     town_ANG MO KIO
4                          town_BEDOK
5                         town_BISHAN
6                    town_BUKIT BATOK
7                    town_BUKIT MERAH
8                  town_BUKIT PANJANG
9                    town_BUKIT TIMAH
10                  town_CENTRAL AREA
11                 town_CHOA CHU KANG
12                      town_CLEMENTI
13                       town_GEYLANG
14                       town_HOUGANG
15                   town_JURONG EAST
16                   town_JURONG WEST
17               town_KALLANG/WHAMPOA
18                 town_MARINE PARADE
19                     town_PASIR RIS
20                       town_PUNGGOL
21                    town_QUEENSTOWN
22                     town_SEMBAWANG
23                      town_SENGKANG
24                     town_SERANGOON
25                      town_TAMPINES
26                     town_TOA PAYOH
27                     town_WOODLANDS
28                        town_YISHUN
29                  flat_model_2-room
30                    flat_model_3Gen
31           flat_model_Adjoined flat
32               flat_model_Apartment
33                    flat_model_DBSS
34                flat_model_Improved
35     flat_model_Improved-Maisonette
36              flat_model_Maisonette
37                 flat_model_Model A
38      flat_model_Model A-Maisonette
39                flat_model_Model A2
40        flat_model_Multi Generation
41          flat_model_New Generation
42       flat_model_Premium Apartment
43  flat_model_Premium Apartment Loft
44      flat_model_Premium Maisonette
45              flat_model_Simplified
46                flat_model_Standard
47                 flat_model_Terrace
48                 flat_model_Type S1
49                 flat_model_Type S2
50                     floor_area_sqm
51                lease_commence_date

In [ ]:
month_data = {0: '2017-01', 1: '2017-02', 2: '2017-03', 3: '2017-04', 4: '2017-05', 5: '2017-06', 6: '2017-07', 7: '2017-08', 8: '2017-09', 9: '2017-10', 10: '2017-11', 11: '2017-12', 12: '2018-01', 13: '2018-02', 14: '2018-03', 15: '2018-04', 16: '2018-05', 17: '2018-06', 18: '2018-07', 19: '2018-08', 20: '2018-09', 21: '2018-10', 22: '2018-11', 23: '2018-12', 24: '2019-01', 25: '2019-02', 26: '2019-03', 27: '2019-04', 28: '2019-05', 29: '2019-06', 30: '2019-07', 31: '2019-08', 32: '2019-09', 33: '2019-10', 34: '2019-11', 35: '2019-12', 36: '2020-01', 37: '2020-02', 38: '2020-03', 39: '2020-04', 40: '2020-05', 41: '2020-06', 42: '2020-07', 43: '2020-08', 44: '2020-09', 45: '2020-10', 46: '2020-11', 47: '2020-12', 48: '2021-01', 49: '2021-02', 50: '2021-03', 51: '2021-04', 52: '2021-05', 53: '2021-06', 54: '2021-07', 55: '2021-08', 56: '2021-09', 57: '2021-10', 58: '2021-11', 59: '2021-12', 60: '2022-01', 61: '2022-02', 62: '2022-03', 63: '2022-04', 64: '2022-05', 65: '2022-06', 66: '2022-07', 67: '2022-08', 68: '2022-09', 69: '2022-10', 70: '2022-11', 71: '2022-12', 72: '2023-01', 73: '2023-02', 74: '2023-03'}
month_df = pd.DataFrame.from_dict(month_data, orient='index', columns=['month'])
month_df

      month
0   2017-01
1   2017-02
2   2017-03
3   2017-04
4   2017-05
..      ...
70  2022-11
71  2022-12
72  2023-01
73  2023-02
74  2023-03

[75 rows x 1 columns]

In [ ]:
flat_type_data = {0: '1 ROOM', 1: '2 ROOM', 2: '3 ROOM', 3: '4 ROOM', 4: '5 ROOM', 5: 'EXECUTIVE', 6: 'MULTI-GENERATION'}
flat_type_df = pd.DataFrame.from_dict(flat_type_data, orient='index', columns=['flat_type'])
flat_type_df

          flat_type
0            1 ROOM
1            2 ROOM
2            3 ROOM
3            4 ROOM
4            5 ROOM
5         EXECUTIVE
6  MULTI-GENERATION

In [ ]:
storey_range_data = {0: '01 TO 03', 1: '04 TO 06', 2: '07 TO 09', 3: '10 TO 12', 4: '13 TO 15', 5: '16 TO 18', 6: '19 TO 21', 7: '22 TO 24', 8: '25 TO 27', 9: '28 TO 30', 10: '31 TO 33', 11: '34 TO 36', 12: '37 TO 39', 13: '40 TO 42', 14: '43 TO 45', 15: '46 TO 48', 16: '49 TO 51'}
storey_range_df = pd.DataFrame.from_dict(storey_range_data, orient='index', columns=['storey_range'])
storey_range_df

   storey_range
0      01 TO 03
1      04 TO 06
2      07 TO 09
3      10 TO 12
4      13 TO 15
5      16 TO 18
6      19 TO 21
7      22 TO 24
8      25 TO 27
9      28 TO 30
10     31 TO 33
11     34 TO 36
12     37 TO 39
13     40 TO 42
14     43 TO 45
15     46 TO 48
16     49 TO 51

In [ ]:
town_data = {0: 'ANG MO KIO', 1: 'BEDOK', 2: 'BISHAN', 3: 'BUKIT BATOK', 4: 'BUKIT MERAH', 5: 'BUKIT PANJANG', 6: 'BUKIT TIMAH', 7: 'CENTRAL AREA', 8: 'CHOA CHU KANG', 9: 'CLEMENTI', 10: 'GEYLANG', 11: 'HOUGANG', 12: 'JURONG EAST', 13: 'JURONG WEST', 14: 'KALLANG/WHAMPOA', 15: 'MARINE PARADE', 16: 'PASIR RIS', 17: 'PUNGGOL', 18: 'QUEENSTOWN', 19: 'SEMBAWANG', 20: 'SENGKANG', 21: 'SERANGOON', 22: 'TAMPINES', 23: 'TOA PAYOH', 24: 'WOODLANDS', 25: 'YISHUN'}
town_df = pd.DataFrame.from_dict(town_data, orient='index', columns=['town'])
town_df

               town
0        ANG MO KIO
1             BEDOK
2            BISHAN
3       BUKIT BATOK
4       BUKIT MERAH
5     BUKIT PANJANG
6       BUKIT TIMAH
7      CENTRAL AREA
8     CHOA CHU KANG
9          CLEMENTI
10          GEYLANG
11          HOUGANG
12      JURONG EAST
13      JURONG WEST
14  KALLANG/WHAMPOA
15    MARINE PARADE
16        PASIR RIS
17          PUNGGOL
18       QUEENSTOWN
19        SEMBAWANG
20         SENGKANG
21        SERANGOON
22         TAMPINES
23        TOA PAYOH
24        WOODLANDS
25           YISHUN

In [ ]:
flat_model_data = {0: '2-room', 1: '3Gen', 2: 'Adjoined flat', 3: 'Apartment', 4: 'DBSS', 5: 'Improved', 6: 'Improved-Maisonette', 7: 'Maisonette', 8: 'Model A', 9: 'Model A-Maisonette', 10: 'Model A2', 11: 'Multi Generation', 12: 'New Generation', 13: 'Premium Apartment', 14: 'Premium Apartment Loft', 15: 'Premium Maisonette', 16: 'Simplified', 17: 'Standard', 18: 'Terrace', 19: 'Type S1', 20: 'Type S2'}
flat_model_df = pd.DataFrame.from_dict(flat_model_data, orient='index', columns=['flat_model'])
flat_model_df

                flat_model
0                   2-room
1                     3Gen
2            Adjoined flat
3                Apartment
4                     DBSS
5                 Improved
6      Improved-Maisonette
7               Maisonette
8                  Model A
9       Model A-Maisonette
10                Model A2
11        Multi Generation
12          New Generation
13       Premium Apartment
14  Premium Apartment Loft
15      Premium Maisonette
16              Simplified
17                Standard
18                 Terrace
19                 Type S1
20                 Type S2

In [11]:
df_X = pd.DataFrame(X.toarray(),columns=column_names)
df_X

,month,flat_type,storey_range,town_ANG MO KIO,town_BEDOK,...,flat_model_Terrace,flat_model_Type S1,flat_model_Type S2,floor_area_sqm,lease_commence_date
0,0.0,1.0,3.0,1.0,0.0,...,0.0,0.0,0.0,44.0,1979.0
1,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,67.0,1978.0
2,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,67.0,1980.0
3,0.0,2.0,1.0,1.0,0.0,...,0.0,0.0,0.0,68.0,1980.0
4,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,67.0,1980.0
...,...,...,...,...,...,...,...,...,...,...,...
148272,74.0,4.0,3.0,0.0,0.0,...,0.0,0.0,0.0,127.0,1988.0
148273,74.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,126.0,1985.0
148274,74.0,4.0,4.0,0.0,0.0,...,0.0,0.0,0.0,112.0,2015.0
148275,74.0,4.0,2.0,0.0,0.0,...,0.0,0.0,0.0,122.0,1988.0
148276,74.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,146.0,1988.0

In [ ]:
y

0         232000.0
1         250000.0
2         262000.0
3         265000.0
4         265000.0
            ...
148272    629000.0
148273    565000.0
148274    625000.0
148275    650000.0
148276    800000.0
Name: resale_price, Length: 148277, dtype: float64

In [12]:
pd.set_option('display.max_columns', 10)
df_Xy = df_X.assign(resale_price = y)
df_Xy

,month,flat_type,storey_range,town_ANG MO KIO,town_BEDOK,...,flat_model_Type S1,flat_model_Type S2,floor_area_sqm,lease_commence_date,resale_price
0,0.0,1.0,3.0,1.0,0.0,...,0.0,0.0,44.0,1979.0,232000.0
1,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,67.0,1978.0,250000.0
2,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,67.0,1980.0,262000.0
3,0.0,2.0,1.0,1.0,0.0,...,0.0,0.0,68.0,1980.0,265000.0
4,0.0,2.0,0.0,1.0,0.0,...,0.0,0.0,67.0,1980.0,265000.0
...,...,...,...,...,...,...,...,...,...,...,...
148272,74.0,4.0,3.0,0.0,0.0,...,0.0,0.0,127.0,1988.0,629000.0
148273,74.0,4.0,0.0,0.0,0.0,...,0.0,0.0,126.0,1985.0,565000.0
148274,74.0,4.0,4.0,0.0,0.0,...,0.0,0.0,112.0,2015.0,625000.0
148275,74.0,4.0,2.0,0.0,0.0,...,0.0,0.0,122.0,1988.0,650000.0
148276,74.0,5.0,0.0,0.0,0.0,...,0.0,0.0,146.0,1988.0,800000.0

In [13]:
pd.set_option('display.max_columns', None)

In [14]:
#Extract train and test data:

df_test = df_Xy[df_Xy['month']>= 60] #let test data be data from 2022 onwards
X_test = df_test.drop(["resale_price"], axis=1)
y_test = df_test.resale_price #only contains resale price

df_train = df_Xy[(df_Xy.month >= 0) & (df_Xy.month <= 59)] # Let training data be data from 2017 to end 2021
X_train = df_train.drop(["resale_price"], axis=1)
y_train = df_train.resale_price

Check sizes of Training Data and Testing Data

In [16]:
X_train

,month,flat_type,storey_range,town_ANG MO KIO,town_BEDOK,town_BISHAN,town_BUKIT BATOK,town_BUKIT MERAH,town_BUKIT PANJANG,town_BUKIT TIMAH,town_CENTRAL AREA,town_CHOA CHU KANG,town_CLEMENTI,town_GEYLANG,town_HOUGANG,town_JURONG EAST,town_JURONG WEST,town_KALLANG/WHAMPOA,town_MARINE PARADE,town_PASIR RIS,town_PUNGGOL,town_QUEENSTOWN,town_SEMBAWANG,town_SENGKANG,town_SERANGOON,town_TAMPINES,town_TOA PAYOH,town_WOODLANDS,town_YISHUN,flat_model_2-room,flat_model_3Gen,flat_model_Adjoined flat,flat_model_Apartment,flat_model_DBSS,flat_model_Improved,flat_model_Improved-Maisonette,flat_model_Maisonette,flat_model_Model A,flat_model_Model A-Maisonette,flat_model_Model A2,flat_model_Multi Generation,flat_model_New Generation,flat_model_Premium Apartment,flat_model_Premium Apartment Loft,flat_model_Premium Maisonette,flat_model_Simplified,flat_model_Standard,flat_model_Terrace,flat_model_Type S1,flat_model_Type S2,floor_area_sqm,lease_commence_date
0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0,1979.0
1,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,1978.0
2,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,1980.0
3,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68.0,1980.0
4,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,1980.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116671,59.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,112.0,2018.0
116672,59.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,142.0,1987.0
116673,59.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146.0,1987.0
116674,59.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,112.0,2013.0
116675,59.0,6.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,171.0,1987.0

In [ ]:
y_train

0         232000.0
1         250000.0
2         262000.0
3         265000.0
4         265000.0
            ...
116671    720000.0
116672    738000.0
116673    755000.0
116674    848000.0
116675    865000.0
Name: resale_price, Length: 116676, dtype: float64

In [ ]:
X_test

,month,flat_type,storey_range,town_ANG MO KIO,town_BEDOK,town_BISHAN,town_BUKIT BATOK,town_BUKIT MERAH,town_BUKIT PANJANG,town_BUKIT TIMAH,town_CENTRAL AREA,town_CHOA CHU KANG,town_CLEMENTI,town_GEYLANG,town_HOUGANG,town_JURONG EAST,town_JURONG WEST,town_KALLANG/WHAMPOA,town_MARINE PARADE,town_PASIR RIS,town_PUNGGOL,town_QUEENSTOWN,town_SEMBAWANG,town_SENGKANG,town_SERANGOON,town_TAMPINES,town_TOA PAYOH,town_WOODLANDS,town_YISHUN,flat_model_2-room,flat_model_3Gen,flat_model_Adjoined flat,flat_model_Apartment,flat_model_DBSS,flat_model_Improved,flat_model_Improved-Maisonette,flat_model_Maisonette,flat_model_Model A,flat_model_Model A-Maisonette,flat_model_Model A2,flat_model_Multi Generation,flat_model_New Generation,flat_model_Premium Apartment,flat_model_Premium Apartment Loft,flat_model_Premium Maisonette,flat_model_Simplified,flat_model_Standard,flat_model_Terrace,flat_model_Type S1,flat_model_Type S2,floor_area_sqm,lease_commence_date
116676,60.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0,1977.0
116677,60.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73.0,1977.0
116678,60.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,1978.0
116679,60.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68.0,1981.0
116680,60.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82.0,1980.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148272,74.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,127.0,1988.0
148273,74.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,126.0,1985.0
148274,74.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,112.0,2015.0
148275,74.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,122.0,1988.0
148276,74.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146.0,1988.0

In [ ]:
y_test

116676    245000.0
116677    358000.0
116678    355000.0
116679    338000.0
116680    420000.0
            ...
148272    629000.0
148273    565000.0
148274    625000.0
148275    650000.0
148276    800000.0
Name: resale_price, Length: 31601, dtype: float64

Linear Regression

In [ ]:
# Perform linear regression using train data and evaluate using test data:

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

lr = LinearRegression()
lr.fit(X_train, y_train)

print("R-sq of model: ", lr.score(X_train, y_train))
pred = lr.predict(X_test)
print("RMSE: %.2f" % mean_squared_error(y_test, pred, squared=False))
print("R-sq of predictions: ", r2_score(y_test, pred))

R-sq of model:  0.8613843363669262
RMSE: 87861.84
R-sq of predictions:  0.7335901716452442

Support Vector Regression

In [ ]:
# Perform Support Vector Regression without hyperparameter tuning, using training data and evaluate using test data:

from sklearn.svm import LinearSVR
from sklearn.metrics import mean_squared_error, r2_score
svmr = LinearSVR(epsilon=0, C=100, max_iter=1000000, random_state=0).fit(X_train, y_train)
print("R-sq of model: ", svmr.score(X_train, y_train))
pred = svmr.predict(X_test)
print("RMSE: %.2f" % mean_squared_error(y_test, pred, squared=False))
print("R-sq of predictions: ", r2_score(y_test, pred))

R-sq of model:  0.7554073811017991
RMSE: 112455.61
R-sq of predictions:  0.5635726657663893

KNN Regression

In [ ]:
# Perform K Nearest Neighbours Regression without hyperparameter tuning, using training data and evaluate using test data:

from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

knn = KNeighborsRegressor(n_neighbors=5) #KNN default n_neighbours=5
knn.fit(X_train, y_train)

print("R-sq of model: ", knn.score(X_train, y_train))
pred = knn.predict(X_test)
print("RMSE: %.2f" % mean_squared_error(y_test, pred, squared=False))
print("R-sq of predictions: ", r2_score(y_test, pred))

R-sq of model:  0.8716346545498931
RMSE: 89850.92
R-sq of predictions:  0.7213912786591362

In [ ]:
# Perform K Nearest Neighbours Regression with hyperparameter tuning, using training data and evaluate using test data:

from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import make_scorer, mean_squared_error, r2_score

# Define parameter grid for KNN regression
param_grid = {'n_neighbors': [6, 7, 8, 9],
              'weights': ['uniform', 'distance'],
              'p': [1, 2],
              'algorithm': ['ball_tree', 'kd_tree']} #exclude 'brute' algorithm as it is prone to overfitting and suits smaller datasets well

# Create KNN regression model
knn = KNeighborsRegressor()

# Create scoring functions for Grid Search to decide best parameters
scoring = {'r2': 'r2', 'rmse': make_scorer(mean_squared_error, squared=False, greater_is_better=False)}

# Perform grid search
grid = GridSearchCV(knn, param_grid, scoring=scoring, refit='r2', cv=5)
grid.fit(X_train, y_train)

# Print best parameters and scores
print("Best parameters: ", grid.best_params_)
print("R-sq of model: ", grid.score(X_train, y_train))
pred = grid.predict(X_test)
print("RMSE: %.2f" % mean_squared_error(y_test, pred, squared=False))
print("R-sq of predictions: ", r2_score(y_test, pred))

Best parameters:  {'algorithm': 'ball_tree', 'n_neighbors': 8, 'p': 1, 'weights': 'distance'}
R-sq of model:  0.9967261941091847
RMSE: 76457.91
R-sq of predictions:  0.7982588505139994

Decision Tree Regression

In [ ]:
# Perform Decision Tree Regression without hyperparameter tuning, using training data and evaluate using test data:

from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
dtr = DecisionTreeRegressor(criterion='squared_error', max_depth=12, min_samples_leaf=1, random_state=0).fit(X_train, y_train)
print("R-sq of model: ", dtr.score(X_train, y_train))
pred = dtr.predict(X_test)
print("RMSE: %.2f" % mean_squared_error(y_test, pred, squared=False))
print("R-sq of predictions: ", r2_score(y_test, pred))

R-sq of model:  0.8414773507317753
RMSE: 91683.17
R-sq of predictions:  0.7099125948929608

In [25]:
# Perform Decision Tree Regression with hyperparameter tuning, using training data and evaluate using test data:

from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import make_scorer, mean_squared_error, r2_score

# Define parameter grid for decision tree regression
param_grid = {'criterion': ['squared_error', 'friedman_mse'],
              'max_depth': [None, 5, 10],
              'min_samples_leaf': [2, 4, 6]
              }

# Create decision tree regression model
dtr = DecisionTreeRegressor(random_state=0)

# Create scoring functions for Grid Search to decide best parameters
scoring = {'r2': 'r2', 'rmse': make_scorer(mean_squared_error, squared=False, greater_is_better=False)}

# Perform grid search
grid = GridSearchCV(dtr, param_grid, scoring=scoring, refit='r2', cv=5)
grid.fit(X_train, y_train)

# Print best parameters and scores
print("Best parameters: ", grid.best_params_)
print("R-sq of model: ", grid.score(X_train, y_train))
pred = grid.predict(X_test)
print("RMSE: %.2f" % mean_squared_error(y_test, pred, squared=False))
print("R-sq of predictions: ", r2_score(y_test, pred))

Best parameters:  {'criterion': 'friedman_mse', 'max_depth': None, 'min_samples_leaf': 6}
R-sq of model:  0.9679783104867122
RMSE: 61267.15
R-sq of predictions:  0.8704596628760302

Random Forest Regression

In [ ]:
# Perform Random Forest Regression without hyperparameter tuning, using training data and evaluate using test data:

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

rfr = RandomForestRegressor(n_estimators=100, max_depth=12, random_state=0)
rfr.fit(X_train, y_train)

print("R-sq of model: ", rfr.score(X_train, y_train))
pred = rfr.predict(X_test)
print("RMSE: %.2f" % mean_squared_error(y_test, pred, squared=False))
print("R-sq of predictions: ", r2_score(y_test, pred))

R-sq of model:  0.8662757484749308
RMSE: 84644.19
R-sq of predictions:  0.7527456510193096

In [22]:
# Perform Random Forest Regression with hyperparameter tuning, using training data and evaluate using test data:

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import make_scorer, mean_squared_error, r2_score

# Define parameter grid for random forest regression
# Note: setting max_depth to None will not limit the growth of each tree in random forest, hence set a limit to prevent overfitting
param_grid = {'n_estimators': [400, 500, 600],
              'max_depth': [5, 10, 15]
              } 

# Create random forest regression model
rf = RandomForestRegressor() 

# Create scoring functions for Grid Search to decide best parameters
scoring = {'r2': 'r2', 'rmse': make_scorer(mean_squared_error, squared=False, greater_is_better=False)}

# Perform grid search
grid = GridSearchCV(rf, param_grid, scoring=scoring, refit='r2', cv=5)
grid.fit(X_train, y_train)

# Print best parameters and scores
print("Best parameters: ", grid.best_params_)
print("R-sq of model: ", grid.score(X_train, y_train))
pred = grid.predict(X_test)
print("RMSE: %.2f" % mean_squared_error(y_test, pred, squared=False))
print("R-sq of predictions: ", r2_score(y_test, pred))

Best parameters:  {'max_depth': 15, 'n_estimators': 600}
R-sq of model:  0.9045965684038603
RMSE: 72327.34
R-sq of predictions:  0.8194677881795189

XGBoost Regression

In [ ]:
# Perform XGBoost regression without hyperparameter tuning, using training data and evaluate using test data:

from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score

xgbr = XGBRegressor()
xgbr.fit(X_train, y_train)

print("R-sq of model: ", xgbr.score(X_train, y_train))
pred = xgbr.predict(X_test)
print("RMSE: %.2f" % mean_squared_error(y_test, pred, squared=False))
print("R-sq of predictions: ", r2_score(y_test, pred))

R-sq of model:  0.9575675312185234
RMSE: 51328.07
R-sq of predictions:  0.909079963632054

In [23]:
# Perform XGBoost Regression with hyperparameter tuning, using training data and evaluate using test data:

from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer, mean_squared_error, r2_score

# Define parameter grid for XGBoost regression
param_grid = {'learning_rate': [0.1, 0.2, 0.3],
              'n_estimators': [300, 400, 500],
              'max_depth': [5, 6, 7]}

# Create XGBoost regression model
xgbr = XGBRegressor(random_state=0, n_jobs=-1)

# Create scoring functions
scoring = {'r2': 'r2', 'rmse': make_scorer(mean_squared_error, squared=False, greater_is_better=False)}

# Perform grid search
grid = GridSearchCV(xgbr, param_grid, scoring=scoring, refit='r2', cv=5)
grid.fit(X_train, y_train)

# Print best parameters and scores
print("Best parameters: ", grid.best_params_)
print("R-sq of model: ", grid.score(X_train, y_train))
pred = grid.predict(X_test)
print("RMSE: %.2f" % mean_squared_error(y_test, pred, squared=False))
print("R-sq of predictions: ", r2_score(y_test, pred))

Best parameters:  {'learning_rate': 0.2, 'max_depth': 6, 'n_estimators': 500}
R-sq of model:  0.970600508408422
RMSE: 47758.06
R-sq of predictions:  0.9212876242822824

Adapting the Best Model for the End User

In [15]:
df_X_1 = df_X.to_numpy()

In [16]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

best_xgbr = XGBRegressor(learning_rate= 0.2, max_depth= 6, n_estimators= 500)
best_xgbr.fit(df_X_1, y)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.2, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=6, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=500, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [27]:
import numpy as np
input_data = np.zeros(52)

import re

# Retrieve index based on first index 2017-01 as 1
def get_month_index(month_str):
    pattern = r'^20\d{2}-(0?[1-9]|1[0-2])$'
    if not re.match(pattern, month_str):
        print("Invalid input")
        exit()
    year, month = month_str.split('-')
    year_diff = int(year) - 2017
    month_diff = (int(month) - 1)
    final = year_diff * 12 + month_diff
    input_data[0] = int(final)
    #print(year_diff * 12 + month_diff)

# Lookup flat_type
def lookup_flat_type(input_value):
    found = False
    for key, value in flat_type_data.items():
        if str(input_value) in value:
            #print("Flat type value", key)
            input_data[1] = int(key)
            found = True
    if not found:
        print("Invalid input")
        exit()

# Lookup storey_range_data
def lookup_storey_range(input_storey):
    found = False
    for index, storey_range in storey_range_data.items():
        range_start, range_end = map(int, storey_range.split(" TO "))
        if range_start <= input_storey <= range_end:
            #print("Storey value", index)
            input_data[2] = int(index)
            found = True
    if not found:
        print("Invalid input")
        exit()

# Lookup town
def lookup_town(input_town):
    found = False
    for key, town in town_data.items():
        if str(input_town).lower() in town.lower():
            #print("Town value", key)
            input_data[key+3] = 1
            found = True
    if not found:
        print("Invalid input")
        exit()

# Lookup flat_model
def lookup_flat_model(input_model):
    found = False
    for key, model in flat_model_data.items():
        if str(input_model).lower() == model.lower():
            #print("Flat model value", key)
            input_data[key+29] = 1
            found = True
    if not found:
        print("Invalid input")
        exit()

storey_range_data = {0: '01 TO 03', 1: '04 TO 06', 2: '07 TO 09', 3: '10 TO 12', 4: '13 TO 15', 5: '16 TO 18', 6: '19 TO 21', 7: '22 TO 24', 8: '25 TO 27', 9: '28 TO 30', 10: '31 TO 33', 11: '34 TO 36', 12: '37 TO 39', 13: '40 TO 42', 14: '43 TO 45', 15: '46 TO 48', 16: '49 TO 51'}
flat_type_data = {0: '1 ROOM', 1: '2 ROOM', 2: '3 ROOM', 3: '4 ROOM', 4: '5 ROOM', 5: 'EXECUTIVE', 6: 'MULTI-GENERATION'}
town_data = {0: 'ANG MO KIO', 1: 'BEDOK', 2: 'BISHAN', 3: 'BUKIT BATOK', 4: 'BUKIT MERAH', 5: 'BUKIT PANJANG', 6: 'BUKIT TIMAH', 7: 'CENTRAL AREA', 8: 'CHOA CHU KANG', 9: 'CLEMENTI', 10: 'GEYLANG', 11: 'HOUGANG', 12: 'JURONG EAST', 13: 'JURONG WEST', 14: 'KALLANG/WHAMPOA', 15: 'MARINE PARADE', 16: 'PASIR RIS', 17: 'PUNGGOL', 18: 'QUEENSTOWN', 19: 'SEMBAWANG', 20: 'SENGKANG', 21: 'SERANGOON', 22: 'TAMPINES', 23: 'TOA PAYOH', 24: 'WOODLANDS', 25: 'YISHUN'}
flat_model_data = {0: '2-room', 1: '3Gen', 2: 'Adjoined flat', 3: 'Apartment', 4: 'DBSS', 5: 'Improved', 6: 'Improved-Maisonette', 7: 'Maisonette', 8: 'Model A', 9: 'Model A-Maisonette', 10: 'Model A2', 11: 'Multi Generation', 12: 'New Generation', 13: 'Premium Apartment', 14: 'Premium Apartment Loft', 15: 'Premium Maisonette', 16: 'Simplified', 17: 'Standard', 18: 'Terrace', 19: 'Type S1', 20: 'Type S2'}

# Input month
input_date = str(input("Enter year-month, e.g 2023-05: "))
month_index = get_month_index(input_date)

# Input flat type
input_flat_type = str(input("Enter number of rooms, e.g 3 or 'executive', or 'multi-generation': "))
flat_type_index = lookup_flat_type(input_flat_type)

# Input storey
input_storey = int(input("Enter the storey number, e.g 33: "))
storey_index = lookup_storey_range(input_storey)

# Input town
input_town = str(input("Enter the name of the town, e.g Hougang: "))
town_index = lookup_town(input_town)

# Input flat model
input_flat_model = str(input("Enter flat model, e.g Standard: "))
flat_model_index = lookup_flat_model(input_flat_model)

# Input floor area
input_data[50] = int(input("Enter floor area in sqm: "))

# Input lease commencement date
input_data[51] = int(input("Enter your lease commencement year, e.g 2003: "))

print("\n")
print(f"The estimated resale price as of {input_date} for a {input_flat_type} room flat on the {input_storey} floor in {input_town}, with flat model \n as {input_flat_model}, floor area in sqm as {input_data[50]} with its lease commencement year in {int(input_data[51])} is", best_xgbr.predict([input_data]))

Enter year-month, e.g 2023-05: 2017-03
Enter number of rooms, e.g 3 or 'executive', or 'multi-generation': 5
Enter the storey number, e.g 33: 25
Enter the name of the town, e.g Hougang: Punggol
Enter flat model, e.g Standard: Standard
Enter floor area in sqm: 80
Enter your lease commencement year, e.g 2003: 2001


The estimated resale price as of 2017-03 for a 5 room flat on the 25 floor in Punggol, with flat model
 as Standard, floor area in sqm as 80.0 with its lease commencement year in 2001 is [469263.4]

Checking for correctness

In [23]:
input_data

array([2.000e+00, 4.000e+00, 8.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 8.000e+01, 2.001e+03])

In [24]:
input_1 = np.zeros(52)
input_1[0] = 2 #set month to Mar 2017
input_1[1] = 4 #set flat type to 5-Room
input_1[2] = 8 #set storey range to 25 
input_1[20] = 1 #set town to Punggol 
input_1[46] = 1 #set flat model to Standard
input_1[50] = 80 #set floor area to 80 sqm
input_1[51] = 2001 #set lease commencement to 2001
print(input_1)

[2.000e+00 4.000e+00 8.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00
 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
 0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00 0.000e+00 0.000e+00
 0.000e+00 8.000e+01 2.001e+03]

In [25]:
print("Estimated resale price of the flat => ", best_xgbr.predict([input_1]))

Estimated resale price of the flat =>  [469263.4]